{% extends "base.html" %}
{% block title %}Cheeses::{{ cheese.name }}{% endblock title %}

{% block content %}
  <h2>{{ cheese.name }}</h2>

  {% if cheese.firmness %}
    <h4>Firmness</h4>
    <p>{{ cheese.get_firmness_display }}</p>
  {% endif %}

  {% if cheese.description %}
    <h4>Description</h4>
    <p>{{ cheese.description }}</p>
  {% endif %}

  {% if cheese.country_of_origin %}
    <h4>Country of Origin</h4>
    <p>
      {{ cheese.country_of_origin.name }}
      <img src="{{ cheese.country_of_origin.flag }}" />
    </p>
  {% endif %}

  <hr/>
  {% if cheese.creator %}
    <h5 class="text-muted">Submitted by <a href="{{ cheese.creator.get_absolute_url }}">{{ cheese.creator.username }}</a></h5>
  {% endif %}

  <p>
    <a class="btn btn-primary" href="{% url 'cheeses:update' cheese.slug %}" role="button">Update</a>
  </p>
{% endblock %}
